<footer>
    <div class="container1">
        <div class="about" >
            <img height="50" src="assets/img/logo.png" alt="">
            <p class="mt-4">
                FunBust is an exhilarating gaming app designed to inject boundless joy and excitement into your leisure
                time. Bursting with an array of captivating games and thrilling challenges, FunBust offers an immersive
                experience that caters to gamers of all ages and preferences. Whether you’re a fan of puzzles,
                action-packed adventures, brain teasers, or strategy games, FunBust has something to keep you engaged
                and entertained for hours on end.
            </p>

            <div class="social-links mt-2">
                <a href="https://facebook.com/funbustofficial"> <img src="assets/img/fb.png" alt=""></a>
                <a href="https://twitter.com/funbustofficial"> <img src="assets/img/tweet.png" alt=""></a>
                <a href="https://instagram.com/funbustofficial"> <img src="assets/img/insta.png" alt=""></a>
                <a href="https://telegram.me/s/funbustofficial"> <img src="assets/img/teligram.png" alt=""></a>
            </div>
        </div>
        <!-- &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; -->

        <div class="subscribe ">
           <h5><b> Subscribe now</b></h5>
           <div class="mt-3"></div>
           <div style="position: relative;">
            <input class="subscribe-input" type="text" placeholder="funbust@gmail.com">
            <img class="send-icon" src="assets/img/send.png" alt="">
           </div>

            <div class="mt-4  games">
               <div> <a href="#">Ludo Fun</a> <br> <a href="">Snake Fun</a>     </div> &nbsp; &nbsp; &nbsp;
                <div>  <a href=""> Knife Hit</a> <br>  <a href="">Archery Fun</a> </div> &nbsp; &nbsp; &nbsp;
                 <div> <a href="">Candy Bust</a> <br> <a href="">Bottle Bust</a></div>&nbsp; &nbsp; &nbsp;
            </div>
        </div>

    </div>

    <div class="critification text-center mt-4">
        <img class="imgg" src="assets/img/cirtification.png" alt="">
        <p class="mt-4">Disclaimer : Funbust is neither associated or affiliated nor claims any association or affiliation in any manner with any sport governing league or authorities, including (But not limited to) The board of control for cricket in India(BCCI), unless specified otherwise. You should be 18 years older or above to use this platform. This platform May not be used by residents of assam, odisha, nagaland, sikkim, tamil nadu , andhra pradesh and telangana. Further there May be certain restrictions in some additional states. </p>

        <div class="text1">
           <a> <span  routerLink="about">About Funbust</span>  </a> &nbsp; &nbsp;
            <a  ><span routerLink="privacy"> Privacy Policy</span></a> &nbsp; &nbsp;
            <a ><span routerLink="terms">Terms of use</span></a> &nbsp; &nbsp;
            <a ><span routerLink="dispute">Dispute Policy</span></a> &nbsp; &nbsp;
            <a href="https://medium.com/@funbust/" ><span>Blog</span></a> &nbsp; &nbsp;
            <a href="mailto:support@funbust.com" ><span>Contact us</span></a> &nbsp; &nbsp;
        </div>

    </div>

    <div class="container1 footer-end mt-4">
        <a href="">
            <div class="mt-2"> Copyright © {{year}} Funbust</div>
        </a>
        <a href="https://complexcode.in">
            <img src="assets/img/footer.png" alt=""></a>
    </div>
</footer>